
h1 {
  font-size: 38px;
  letter-spacing: -1px;
}

h2 {
  font-size: 29px;
  letter-spacing: -.8px;
}

h3 {
  font-size: 21px;
  letter-spacing: -.4px;
}
p {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -.4px;
  line-height: 28px;
}
p.newsTitle {
  margin-top: 35px;
  font-size: 22px;
}
input {
   height: 51px;
   padding-left: 20px;
}
input::-webkit-input-placeholder { /* WebKit browsers */
  color:    #757575;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    #757575;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    #757575;
}
input:-ms-input-placeholder { /* Internet Explorer 10+ */
  color:    #757575;
}
a:hover{
  text-decoration: none;
}

.asideBg::after {
  content: '';
  display: block;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: #eee;
  z-index: -2;
}

.asideNoBgRight {
   background: #fff;
   border-right: 20px solid #eee;
}

.asideNoBgLeft {
  background: #fff;
  border-left: 20px solid #eee;
}


.borderGradient {
  border-image-slice: 1;
  background-position: 0 0, 0 100% ;
  background-repeat: no-repeat;
  background-size: 100% 6.6px;
  border-left: 6.6px solid #2daefc;
  border-right: 6.6px solid #00dbfb;
  background-image: -webkit-linear-gradient(left, #2daefc 0%, #00dbfb 100%),-webkit-linear-gradient(left, #2daefc 0%, #00dbfb 100%);
  background-image: -moz-linear-gradient(left, #2daefc 0%, #00dbfb 100%),-moz-linear-gradient(left, #2daefc 0%, #00dbfb 100%);
  background-image: -o-linear-gradient(left, #2daefc 0%, #00dbfb 100%),-o-linear-gradient(left, #2daefc 0%, #00dbfb 100%);
  background-image: linear-gradient(to right, #2daefc 0%, #00dbfb 100%), linear-gradient(to right, #2daefc 0%, #00dbfb 100%);
  padding: 10px;
}

.container {
  max-width: 1366px;
  display:block;
  margin: 0 auto ;
}

.btn {
  display:inline-block;
  text-align: center;
  background: $blue;
  font-size:16px;
  padding:18px 22px 14px 22px;
  color:white;
  font-weight: 600;
  border-bottom: 4px solid #192242 ;
  transition: all .2s linear;
  &:hover {
    background: lighten($blue, 5%);
    color: #fff;
  }
}
.textAlign__Center {
  text-align: center;
}
.float_right {
  float: right;
}
 .dib ,
.dib-li > li{
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
}
.verticalAlign_top_footer_li > li , .verticalAlign_top{
  vertical-align: top;
}
.borderBlue {
  border: 12px solid $lightBlue ;
  height: 158px;
  width: 158px;
  display: block;
}

.date {
  color: #ababab !important;
  font-style: italic;
}
.clearfix {
  display: none;
  clear: both;
}

.borderPrimary {
  border: 3px solid black;
}

// Bar windows

.barOpen, .barClose {
  visibility: hidden;
  display: none;
  cursor: pointer;
}

.barOpen {
  position: fixed;
  right: 20px;
  top: 50%;
  width: 35px;
  height: 35px;
  z-index: 10;
  transition: .5s .3s ease-out;
  path {
    fill: $blue;
  }
  &::before {
    content: '';
    background: rgba(255,255,255, .7);
    border-radius: 50%;
    width: 45px;
    height: 45px;
    position: absolute;
    left: -5px;
    z-index: -1;
    top: -5px;
  }

}
.barClose {
  position: fixed;
  right: 350px;
  top: 50%;
  width: 35px;
  height: 35px;
  transition: none;

  path {
    fill: #fff;
  }
}

@media (min-width: 320px) and (max-width: 1199px) {
  .windowBar {
    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background: $blue;
      position: fixed;
      visibility: hidden;
      left: 0;
      top: 0;
      z-index: -1;
      opacity: 0;
      transition: .5s linear;
    }
  }
}


@media (min-width: 1200px) and (max-width: 1599px) {
  h1 {
    font-size: 34px;
  }
  h2 {
    font-size: 26px;
  }

  h3 {
    font-size: 19px;
  }
  p {
    font-size: 16px;
    line-height: 24px;
  }
}
@media (min-width: 992px) and (max-width: 1199px){
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 22px;
  }

  h3 {
    font-size: 17px;
  }
  p {
    font-size: 14px;
    line-height: 22px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {

}

@media (min-width: 320px) and (max-width: 1199px){
  .asideNoBgRight, .asideNoBgLeft {
    background: transparent;
    border: none;
  }

  .asideBg::after {
    display: none;
  }
}
@media (min-width: 320px) and (max-width: 767px){
  .displayNone {
    display: none;
  }
}
@media (min-width: 320px) and (max-width:  480px) {
  .btn {
    font-size: 12px;
  }
}