
.footerSection {
  background: #292f2f;
  padding-top: 45px;
  padding-bottom: 40px;
  p,li,a {
    color: white;
  }
}
.copyrightSection {
  background: #22325b;
  padding-top: 30px;
  padding-bottom: 35px;
  text-align: center;
  p {
    color: white;
    font-size: 13px;
    width: 60%;
    margin: auto;
  }
  a {
    font-weight: 700;
    border-bottom:2px solid white;
  }
}
.contacts_info_list {
  li:first-of-type {
    margin-bottom: 30px;
    p {
      margin-top: 15px;
      margin-left: 15px;
      font-size: 24px;
    }
  }
  li:not(:first-of-type) {
    margin-bottom: 10px;
    color: #606d6d;
    font-size: 15px;
  }
}
.footer_nav {
  margin-top: 15px;

  a {
    border-bottom: 2px solid white;
  }
  li:first-of-type {
    font-size: 21px;
    margin-bottom:22px;
    font-weight: 700;
  }
  li:not(:first-of-type) {
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 500;
  }
  li:last-of-type {
    margin-right: 0;
  }
}
.footer_lists {
  & > li {
    margin-left: 40px;
    margin-right: 40px;
  }
}
.contacts__list {
  margin-left: 30px;
  margin-right: 15px;
}
@media (min-width: 1200px) and (max-width: 1599px) {
  .footerSection p{
    font-size: 15px;
  }
}
@media (min-width: 992px) and  (max-width: 1199px){
  .footerSection p{
    font-size: 13px;
  }
  .footer_lists>li {
    margin-left: 5px;
  }
}

@media (min-width: 768px) and (max-width: 991px){
  .copyrightSection p{
    font-size:11.5px;
    letter-spacing: 0;
  }
}
@media (min-width: 320px) and (max-width: 1599px) {
  .copyrightSection p {
    width: 100%;
  }
}

@media (max-width: 991px) {
  .footer_lists {
    display: none;
  }
  .contacts_info_list {
    float: right;
    text-align:right;

  }
  .contacts__list {
    margin-top: 19px;
    float: left;
    li:first-of-type a{
      font-size: 22px;
      font-weight: 500;
      text-transform: uppercase;
    }
  }
  .contacts_info_list li:first-of-type p {
    margin-top: 5px;
  }
  .contacts_info_list li:not(:first-of-type) {
    margin-bottom: 20px;
    font-size: 16px;
  }

}
@media (min-width: 320px) and (max-width: 480px) {
  footer *{ text-align: center;}
  footer .contacts_info_list{ float: none; }
  footer .contacts__list {
    float: none;
    margin: 15px auto;
    li:first-of-type a {
      font-weight: 700;
      font-size: 24px;
    }}
}