.doubleFigure, .tripleFigure {
  display: inline-block;
  padding: 0;

  img {
    width: 100%;
    border: 1px solid transparent;
  }
}

.gallery {
  padding: 40px 0 80px;
  text-align: center;
  .btn {
    margin: 56px auto 0;
    display: inline-block;

  }
  .row {
    margin: 0;
  }

}


.doubleFigure {
  max-width: 680px;
  max-height: 452px;

}

.tripleFigure {
  max-width: 453.6px;
  max-height: 320px;
}