
.toggleBtn, .navClose {
  display: none;
}

header {
  padding: 20px 0;
  border-bottom: 4px solid #289ce7;
  .navigation {
    margin: 0 65px;
    .menu-item {
      padding: 20px 23px;
      text-align: center;
      font-size: 17px;
      font-weight: 700;
      a {
        color: black;
        transition: 1ms ease-out;
        display: block;
      }
    }
    .menu-item:hover {
      cursor: pointer;
    }
    & > .menu-item:hover > a {
      text-decoration: none;
      color: $lightBlue;
    }
    & > .menu-item > a:before {
      content: "";
      display: block;
      width: 35px;
      height: 35px;
      margin: 0 auto 10px;
    }
    & > .menu-item:nth-of-type(1) > a::before {
      background: url("../image/menu_sprite/sprite.png") 0 -38px no-repeat;
      margin: 0 0 10px calc(50% - 14px);
    }
    & > .menu-item:nth-of-type(1):hover > a::before {
      background: url("../image/menu_sprite/sprite.png") 0 0 no-repeat;
    }
    & > .menu-item:nth-of-type(2) > a::before {
      background: url("../image/menu_sprite/sprite.png") 0 -115px no-repeat;
    }
    & > .menu-item:nth-of-type(2):hover > a::before {
      background: url("../image/menu_sprite/sprite.png") 0 -77px no-repeat;
    }
    & > .menu-item:nth-of-type(3) > a::before {
      background: url("../image/menu_sprite/sprite.png") 0 -187px no-repeat;
    }
    & > .menu-item:nth-of-type(3):hover > a::before {
      background: url("../image/menu_sprite/sprite.png") 0 -151px no-repeat;
    }
    & > .menu-item:nth-of-type(4) > a::before {
      background: url("../image/menu_sprite/sprite.png") 0 -261px no-repeat;
    }
    & > .menu-item:nth-of-type(4):hover > a::before {
      background: url("../image/menu_sprite/sprite.png") 0 -224px no-repeat;
    }
    & > .menu-item:nth-of-type(5) > a::before {
      background: url("../image/menu_sprite/sprite.png") 0 -331px no-repeat;
    }
    & > .menu-item:nth-of-type(5):hover > a::before {
      background: url("../image/menu_sprite/sprite.png") 0 -296px no-repeat;
    }
    & > .menu-item:nth-of-type(6) > a::before {
      background: url("../image/menu_sprite/sprite.png") 0 -409px no-repeat;
    }
    & > .menu-item:nth-of-type(6):hover > a::before {
      background: url("../image/menu_sprite/sprite.png") 0 -370px no-repeat;
    }

  }
  .menu-item {
    text-align: center;
    font-size: 17px;
    font-weight: 700;
    a {
      color: black;
      transition: .3s ease-out;
      &:hover {
        text-decoration: none;
        color: $lightBlue;
      }
    }

  }

}

.menu-item-has-children {
  &::after {
    content: '';
    width: 100%;
    height: 120px;
    background: $blue;
    display: block;
    z-index: -1;
    position: absolute;
    top: -10px;
    left: 0;
    visibility: hidden;
  }

  &:hover::after {
    visibility: visible;
  }

  position: relative;
  .menu {
    padding: 20px 0 30px;
    position: absolute;
    background: $blue;
    visibility: hidden;
    top: 110px;
    left: 0;
    z-index: 11;
    li {
      padding: 3px 23px;
      letter-spacing: -.5px;
      text-align: left;
      position: relative;
      left: -20px;
      visibility: hidden;

      a {
        color: #fff;
      }
      &:hover {
        a {
          color: $lightBlue;
        }
      }

    }
    .menu-item:before {
      display: none;
    }
  }
  &:hover {
    .menu {
      visibility: visible;
      top: 89px;
      width: 225px;
      height: initial;
      transition: all .3s linear;
      li {
        visibility: visible;
        left: 0;
        transition: all .3s .3s linear;
      }
    }
  }
}

.logo {
  height: 86px;
  h3 {
    display: inline-block;
    font-size: 35px;
    margin-left: 21px;
    letter-spacing: 1.9px;
  }
}

.call {
  text-align: right;
  span {
    font-size: 30px;
    margin-bottom: 6px;
    display: block;
    font-weight: bold;
    letter-spacing: -1.2px;
  }
  a {
    color: black;
    font-size: 22px;
    border-bottom: 3px dotted black;
  }
}

@media (min-width: 1200px) and (max-width: 1399px) {

  header {
    padding: 15px 0;
    .navigation {
      margin: 0 73px;
    }

    .menu-item {
      padding: 0 14px 0;
      font-size: 15px;
      &:nth-of-type(1) {
        svg {
          padding-left: 12px;
        }
      }
      svg {
        height: 30px;
      }

    }

  }

  .logo {
    height: 68px;
    img {
      line-height: 1;
      vertical-align: middle;
      height: 100%;
    }
    h3 {
      display: inline-block;
      margin: 0 0 0 16px;
      font-size: 30px;
      letter-spacing: 1.6px;
      line-height: 1;
      vertical-align: middle;
    }
  }
  .call {
    span {
      font-size: 27px;
    }
    a {
      font-size: 19px;
    }
  }
}

@media (min-width: 320px) and (max-width: 1199px) {
  body {
    padding-top: 83px;
  }


  .logo {
    height: 48px;
    img {
      line-height: 1;
      vertical-align: middle;
      height: 100%;
    }
    h3 {
      display: inline-block;
      margin: 0 0 0 16px;
      font-size: 26px;
      letter-spacing: 1.4px;
      line-height: 1;
      vertical-align: middle;
    }
  }

  header {
    padding: 16px 0;
    position: fixed;
    width: 100%;
    z-index: 13;
    top: 0;
    left: 0;
    background: #fff;
    .navigation {
      display: block;
      margin: 0;
      width: 320px;
      height: 360px;
      overflow-y: auto;
      left: 50%;
      top: calc(50% - 220px);
      padding: 0 0 0 50px;
      transform: translate(-50%, -50%);
      position: absolute;
      transition: .3s ease-out;
      opacity: 0;
      &>.menu-item {
        padding: 0 15px 0;
        display: block;
        font-size: 30px;
        text-align: left;
        margin-bottom: 20px;
        font-weight: 400;
        position: relative;

        &>a {
          color: #fff;
          &::before {
            position: absolute;
            margin: 0;
            left: -35px;
          }

        }
        &:nth-of-type(1) > a {
          &::before {
            margin: 0 ;
          }
        }

      }
    }


  }

  .call {
    display: block;
    max-width: 200px;
    width: 100%;
    margin: 0;
    position: absolute;
    top: calc(50% + 160px);
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: .3s ease-out;
    span, a {
      color: #fff;
      border-color: #fff;
    }
    span {
      font-weight: 400;
    }
  }

  .toggleBtn {
    display: block;
    position: absolute;
    right: 40px;
    top: 22px;
    width: 35px;
    height: 35px;
    z-index: 12;
    cursor: pointer;
    visibility: visible;

  }
  .toggleMenu {
    position: fixed;
    top: 0;
    right: 0;
    background: #22315a;
    width: 100%;
    height: 100%;
    z-index: 11;
    visibility: hidden;
    transition: visibility .3s linear;

    &.openNav {
      visibility: visible;
      transition: none;

      .navClose {
        display: block;
        width: 35px;
        height: 35px;
        position: absolute;
        top: 22px;
        right: 40px;
        cursor: pointer;
      }

      path {
        fill: #fff;
      }

      .toggleBtn {
        display: none;

      }

      .navigation {
        top: calc(50% - 100px);
        opacity: 1;
      }

      .call {
        top: calc(50% + 140px);
        opacity: 1;
      }

    }

  }

  .menu-item-has-children {
    .menu {
      visibility: visible;
      position: static;
      display: block;
      padding: 20px 0 0px;
      li {
        visibility: visible;
        left: 0;
        padding: 10px 0;
        font-size: 18px;
      }
    }
  }

}

@media (min-width: 320px) and (max-width: 479px) {

  .logo {
    height: 40px;
  }

  header {
    padding: 8px 0;

    .menu-item {
      font-size: 22px;
      margin-bottom: 16px;
      svg {
        height: 22px;
      }
    }

    .navigation {
      padding: 0;

    }
  }
  .call {
    top: calc(50% + 200px);
    max-width: 160px;
    span {
      font-size: 24px;
    }
    a {
      font-size: 18px;
    }
  }

  .toggleBtn {
    right: 20px;
    top: 10px;
  }

  .logo {
    h3 {
      display: inline-block;
      margin: 0 0 0 8px;
      font-size: 21px;
      letter-spacing: 1px;
    }
  }

  body {
    padding-top: 60px;
  }

  .toggleMenu {
    &.openNav {

      .navigation {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 180px;

      }
      .call {
        top: calc(50% + 157px);
        left: 50%;
        transform: translate(-50%, -50%);

      }
    }
  }
}