.contactsbox {
  min-height: 490px;
  padding: 90px 0 65px 0;
  background: #048aeb;
  background: linear-gradient(to right, #048aeb 0%,#4fa3f0 43%,#4fa3f0 57%,#068bec 100%);
  .container { position: relative }
  .contactsForm__container input{
    width: 39%;
    margin-right: 22px;
    font-size: 18px;
    color: #000;

  }
  input {
    &::-webkit-input-placeholder, &:-moz-placeholder {
      color: #000;
    }
  }
  .contactsForm__container_size {
    padding: 28px 30px 25px 32px ;
    margin-top: 55px;
    p {
      font-size: 18px;
      margin-bottom: 25px;
      font-weight: 400;
    }
    .btn {
      float: right;
    }
  }
  *{
    color: white;
  }
  .grafflex {
    margin-left:20px;
    margin-top: -20px;
  }
  .firstTitle {
    margin-top: 15px;
    font-size: 45px;
  }
  .firstTitle__caption {
    font-size: 32px;
    font-weight: 700;
  }
}

.spritespinContaioner {
  position: absolute;
  right: 15px;
  top: 0;
  height: 300px;
  width: 300px;
  z-index: 7;
}

.topInfoSection {
  padding: 35px 0 50px 0;
  .row>div {
    margin:15px 0 15px 0;
  }
  .infoBox {
    padding: 8px 8px 8px 32px;
    min-height: 270px;
    position: relative;
    transition-duration:.5s;
    &:hover {
      transform: scale(1.01);
      cursor: pointer;
      transition-duration:.2s;
    }

    .infobox__Container__img {
      display: inline-block;
      width: 49%;
      height: 100%;
      overflow: hidden;
      text-align: center;
      max-width: 320px;
      img {
        display: inline-block;
        margin:0;
      }
    }
    .newsTitle {
      font-weight: 900;
      font-size: 28px;
    }
    .infobox__Container {
      width: calc(50% - 40px);
      height: 100%;
      padding: 1px 0 0 0;
      display: inline-block;
      margin-right: 40px;
      position: relative;
    }
    span {
      position: absolute;
      top:5px;
      left:0;
      .date {
        font-weight: 700;
        color: black;
        font-style: normal;
      }
    }
    a {
      margin-top: 20px;
      display: block;
      font-weight: 900;
      text-decoration: underline;
      font-size: 18px;
    }
    h4 {
      margin:30px 0 20px 0;
    }


    .bgImage {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;
      max-width: 100%;
      top: 0;
      left: 0;
      margin: 0;
    }
  }
  .infobox--bgImage {
    .infobox__Container {
      width: 100%;
      margin: 0;
    }
  }
}
.productionSection {
  padding-bottom: 65px;
  .production__item {
    width: 100%;
    height: 100%;
    max-width: 320px;
    margin:17px auto;
    background: #f1f1f1;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

    &:hover {
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
    img {
      z-index: -1;
      max-width: 320px;
      width: 100%;
      height: 100%;
    }
    p {
      font-weight: 900;
      z-index: 5;
      position: absolute;
      display: block;
      max-width: 240px;
      margin: 35px auto 0 ;
      left: 0;
      right: 0;
    }
  }
  .btn {
    margin-top: 25px;
    display: inline-block;
  }
}

.advantages__infos {
  margin:70px 0 70px 0;
  .advantages__info {
    text-align: center;
    span {
      margin: 0 auto 35px auto;
      display: block;
      text-align: center;
      line-height: 121px;
    }
    img {
      vertical-align: middle;
    }
    p {
      font-weight: 700;
    }
  }
}
@media (min-width: 1200px) and  (max-width: 1400px){
  .topInfoSection .infoBox .infobox__Container__img img {
    margin-left: -40px;
  }
}
@media (min-width: 1200px)  and (max-width: 1599px){
  .productionSection .production__item {
    height: 290px;
  }
  .topInfoSection .infoBox .infobox__container_img  {
    margin-left: 20px;
  }
  .btn,
  .date {
    font-size: 14px;
  }
  .contactsbox {
    background-position: 100% 0,0 0;
    .contactsForm__container input {
      margin-right: 3%;
    }
  }
  .catalogSection {
    background-position: 90% 83px,0 0;
  }
}
@media (max-width: 768px) {
  .grafflex {
    display: none;
  }

}
@media (min-width: 992px) {
  .topInfoSection .infoBox {
    height: 1px;
  }
}
@media (min-width: 992px) and  (max-width: 1199px) {
  .topInfoSection .infoBox .infobox__Container__img img {
    margin-left: -60px;
    margin-top: -20px;
  }
  .topInfoSection .infoBox {
    padding-left: 20px;
    padding-bottom:20px;
    min-height: 270px;
    a {
      font-size: 14px;
    }
    .infobox__container_img {
      margin-left: 10px;
      max-width: 60%;
    }
  }

}

@media (min-width: 320px) and (max-width: 1199px) {
  .spritespinContaioner .spritespin {
    display: none;
  }
}



@media (min-width: 480px) and  (max-width: 992px) {
  .topInfoSection .infoBox .infobox__Container__img img {
    margin-left:0;
    margin-top: -20px;
  }

  .contactsbox {
    padding: 15px 0 65px;
    height: 100%;
    .contactsForm__container_size {
      .btn {

      }
    }

    .contactsForm__container input {
      width: 100%;
      margin: 0 0 20px 0;
    }
    .firstTitle {
      font-size: 38px;
    }
    .firstTitle__caption {
      font-size: 26px;
    }
  }
  .clearfix {
    display: block;
  }
  .topInfoSection .infoBox {
    padding: 8px 8px 20px 10px;
    height: 100%;

    span {
      top:0;
      left:0;
    }
  }
  .advantages__info {
    margin-bottom: 35px;
  }


}
@media  (min-width: 720px) and  (max-width: 991px){
  .topInfoSection .infoBox { width: 80%; margin: auto;}
}

@media (max-width: 600px) {
  .topInfoSection .infoBox .infobox__Container__img img {
    margin-left: -40px;
  }
}



@media (min-width: 320px) and (max-width: 767px) {
  .productionSection {
    .btn {
    max-width: 227px;
    display: block;
    margin: 30px auto 0;
    }
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .advantages__infos {
    .col-xs-6 {
      width: 100%;
    }
    .advantages__info {
      p {
        max-width: 220px;
        font-size: 15px;
        margin: 0 auto;
        line-height: 20px;
      }
      span{
        margin: 0 auto 15px;
      }
    }
  }

  .contactsbox {
      .contactsForm__container_size {
        .btn {
          float: none;
        }
      }
  }
}
@media (min-width: 320px) and  (max-width: 479px) {
  .topInfoSection .infoBox .infobox__Container__img {
    display: none;
  }
  .topInfoSection .infoBox .infobox__Container {
    width: 100%;
    margin-right: 0;
  }
  .contactsbox .contactsForm__container_size {
    padding: 15px;}
  .col-xs-6 {
    width: 100%;
  }
  .topInfoSection .infoBox {
    padding: 8px 8px 20px 8px;
    height: auto;
    text-align: center;
    min-height: 200px;
    border: none;
    background: linear-gradient(to right, #048aeb 0, #4fa3f0 43%, #4fa3f0 57%, #068bec 100%);
    z-index: 5;
    &:hover {
      transform: scale(1.0);
    }
    img {
      display: none;
    }
    * {
      color: white;
    }
    p {
      font-size: 15px;
      line-height: 1.3;
    }
    a {
      text-align: right;
      margin-right: 20px;
    }
    span {
      bottom: 0;
      left: 8px;
      top: inherit;
    }
    img {
      width: 100%;
      float: none;
      margin: 0;
      position: static;
      max-width: 360px;
    }
    .newsTitle {
      margin-top: 10px;
    }
  }
  .contactsbox{
    padding:15px 0 25px;
  }
  .contactsbox .contactsForm__container input {
    margin-bottom: 15px;
    width: 100%;
  }
}

@media (min-width: 320px) and (max-width:991px ) {
  .advantages__info {
    margin-bottom: 35px;
  }
    .contactsbox {
      .contactsForm__container_size {
        .btn {
          float: none;
        }
      }
    }

}