@import 'reset';
@import 'colors';
@import 'typografy';
@import 'settings';
@import 'header';
@import 'footer';
@import 'slick';
@import 'slick-theme';

@import 'indexPage';
@import 'projections';
@import 'gallery';
@import 'productSinglePage';
@import 'news';
@import 'product';
@import 'publication';

body{
  width: 100%;
  font-size: 17px;
  letter-spacing: -.4px;
  -webkit-text-size-adjust: 100%;
}

.bgSection {
  height: 245px;
  color: white;
  background-size: cover;
  .container {
    line-height: 245px;
    vertical-align: middle;
  }
  h1 {
    font-size: 29px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .btn {
    margin-left: 30px;
    line-height: 1;
    letter-spacing: 0.4px;
    vertical-align: middle;
  }

}

.catalogSection {
  padding-top: 65px;
  padding-bottom: 110px;
  background-position: 88% 83px , 0 0 ;
  background-repeat:no-repeat;
  position: relative;
  .catalogSection_bg{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
  .contactsForm__container__size {
    width: 51.3%;
    min-width: 635px;
  }
  img {
    width: 100%;
    max-width: 580px;
  }
  .contactsForm__container {
    padding:26px 28px 30px 26px;
    margin-top: 50px;

    p{
      width: 75%;
      color: white;
      line-height: 28px;
      font-size: 18px;
    }
    button {
      margin-top: 25px;
    }
    form {
      margin-top: 10px;
    }
    input {
      margin: 5px;
      box-sizing: border-box;
      &:nth-of-type(1) {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
      }
      &:nth-of-type(2) {
        width: 48.5%;
        float: left;
        margin-left: 0;
      }
      &:nth-of-type(3) {
        width: 48.5%;
        float: right;
        margin-right: 0;
      }
    }
  }
}





@media (min-width: 1200px)  and  (max-width: 1599px){
  .catalogSection {
    background-position: 95% 83px,0 0;
  }
}
@media (min-width: 1200px) {
  .catalogSection {
    background-position: 95% 83px,0 0;
    img { display: none;}
  }
}

@media (min-width: 480px) and (max-width:  991px) {
  .catalogSection .contactsForm__container__size {
    min-width: 0;
    width: 100%;
  }
  .bgSection h1 {
    font-size: 23px;
  }
}
@media (min-width: 320px) and (max-width:  480px) {
  .bgSection {
    height: 180px;
    .btn {
      font-size: 10px;
    }
  .titleOfSection {
    text-align: center;
  }
  .container {
    line-height: 180px;
    position: relative;
    text-align: center;
  }}
  .advantages__infos>div {
    width: 100%;
  }
  .production__item div {
    width: 100%;
  }
  .catalogSection .contactsForm__container__size {
    min-width: 0;
    width: 100%;
    margin: auto;
    input {
      font-size: 14px;
      height: 35px;
    }
  }
  .bgSection h1 {
    font-size: 20px;
  }
}
@media (min-width: 320px) and (max-width:820px ) {
  .bgSection {
    padding: 14% 0 14% ;
    height: auto;
    .container {
      line-height: 1;
      text-align: center;
      .btn {
        margin: 25px 50px 0;

      }
    }
  }
}
@media (min-width: 778px) and (max-width:820px ) {
  .bgSection {
    padding: 10% 0 10%;
    height: auto;
}}
@media (min-width: 320px) and (max-width: 767px) {

  .catalogSection {
    .contactsForm__container__size {
      width: 100%;
      min-width: inherit;
      p {
        width: 100%;
        font-size: 17px;
        line-height: 24px;
      }
      input {
        width: 100%;

        &:nth-of-type(2), &:nth-of-type(3) {
          width: 100%;
        }
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 1199px) {
  .catalogSection {
    background: linear-gradient(to right,#048aeb 0,#4fa3f0 47%,#4fa3f0 53%,#068bec 100%);
    .contactsForm__container__size {
      margin: 50px auto 0;
    }
    img {
      margin: auto;
      display: block;
    }
  }
}



@media (min-width: 320px) and (max-width: 479px) {
  input::-webkit-input-placeholder, input:-moz-placeholder {
    font-size: 15px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .catalogSection .contactsForm__container p {
    width: 100%;
    font-size: 14px;
  }
}






