.newsPage {
  .topInfoSection {
    text-align: center;
    .infoBox {
      text-align: left;
    }
    .row>div {
      margin-top: 25px;
      margin-bottom: 25px;
    }
    .btn {
      margin-top: 25px;
    }

  }
}

@media (min-width: 1200px)  and  (max-width: 1599px){
  .topInfoSection .infoBox  p.newsTitle {
    font-size: 22px;
  }
}
@media (min-width: 480px) and (max-width: 1199px){
  .topInfoSection .infoBox  p.newsTitle {
    font-size: 20px;
  }
}
@media (min-width:320px) and (max-width: 479px){
  .newsPage {

  }
}