.projection__stages {
  position: relative;
  h2 {
    padding: 34px 0 27px;
  }

  img {
    width: 100%;
  }
}

.projection__item {
  max-width: 927px;

  h3 {
    padding-bottom: 20px;
  }

  p {
    padding-bottom: 40px;
  }

  img {
    margin-bottom: 60px;
  }
}

.projection__images {

}

.aside__news, .aside__publication {
  width: 100%;
  position: relative;
}

.aside__container {
  width: 100%;
}




.newsBar {
  button {
    background: none;
    font-size: 21px;
    font-weight: 700;
    text-decoration: underline;
    position: absolute;
    bottom: 35px;
    left: 12px;
    &:hover {
      opacity: .8;
    }
  }

  .date {
    font-size: 15px;
    letter-spacing: 0;
    font-weight: 700;
    line-height: 38px;
    color: #000;
    padding-left: 10px;
  }

  img {
    width: 100%;
    height: 100%;
  }
}

.aside__news {
  h2 { text-align: center }

  .aside__container {
    background: #ffffff;
    padding: 10px 11px 35px;
  }

  h4 {
    font-size: 21px;
    letter-spacing: -.4px;
    padding:0 10px 80px;
    font-weight: 400;
  }
  button {
    left: 22px;
  }

}

.aside__publication {

  .aside__container {
    padding: 40px 21px 300px;
    position: relative;
    color: #fff;
  }

  h2 { text-align: center }

  img {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
  }

  .date {
    color: #fff;
    padding-left: 0;
  }

  h4 {
    font-size: 29px;
    letter-spacing: -.8px;
    line-height: 38px;
    font-weight: 400;
  }

  button {
    left: 21px;
  }

}

@media (min-width: 992px) and (max-width: 1199px) {
  .aside__news {
    h4 {
      font-size: 19px;
      padding-bottom: 60px;
    }
  }

  .aside__publication {
    h4 {
      font-size: 23px;
      line-height: 28px;
      padding-bottom: 100px;
    }
  }

  .newsBar {
    button {
      font-size: 17px;
    }
  }
}


@media (min-width: 320px) and (max-width: 991px) {

  .projection__stages h2 {
    color: #fff;
  }

  .aside__news {
    h4 {
      padding-bottom: 65px;
    }
  }

  .aside__publication {
    .aside__container {
      padding: 40px 21px 70px;
      height: 465px;
    }
    h4 {
      font-size: 26px;
      line-height: 32px;
    }
  }

  .newsBar {
    button {
      font-size: 16px;
    }
  }

  .barOpen {
    display: block;
    visibility: visible;

  }

  .barClose {
    display: block;
  }

  .newsBar {
    position: fixed;
    z-index: 14;
    width: 300px;
    padding: 0 0 50px;
    top: 100px;
    right: -300px;
    overflow: auto;
    height: 540px;
    transition: .5s linear;

    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background: $blue;
      position: fixed;
      visibility: hidden;
      left: 0;
      top: 0;
      z-index: -1;
      opacity: 0;
      transition: .5s linear;
    }

    &.toggleBarOpen {
      right: 0;


      &::before {
        visibility: visible;
        opacity: .96;
      }

      .barClose {
        visibility: visible;
        right: 310px;
        transition: .5s .3s ease-out;
      }

      .barOpen {
        visibility: hidden;
        right: -40px;
        transition: none;
      }

    }
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .newsBar {
    top: 0;
    width: 260px;
    &.toggleBarOpen {
      right: 0;
      left: 0;
      margin: 0 auto;
    }
    .barClose {
      right: inherit;
      left: -5px;
    }
  }

}