/* FuturaPT Font */
@font-face {
  font-family: 'FuturaPT';
  src: url('../fonts/Futura/FuturaPTMedium.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaPT';
  src: url('../fonts/Futura/FuturaPTMediumOblique.otf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'FuturaPT';
  src: url('../fonts/Futura/FuturaPTBold.otf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaPT';
  src: url('../fonts/Futura/FuturaPTBoldOblique.otf');
  font-weight: 700;
  font-style: italic;
}
/* end FuturaPT Font */
/* Russia Font */
@font-face {
  font-family: 'Russia';
  src: url('../fonts/Russia/Russia-Light.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Russia';
  src: url('../fonts/Russia/Russia-Italic.otf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Russia';
  src: url('../fonts/Russia/Russia-Bold.otf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Russia';
  src: url('../fonts/Russia/Russia-BoldItalic.otf');
  font-weight: 700;
  font-style: italic;
}
/* End Russia Font */
@font-face {
  font-family: 'Intro';
  src: url('../fonts/1oI20TYr.otf');
  font-weight: normal;
  font-style: normal;
}
* {
  outline: none;
}
body {
  font-size: 15px;
  margin: 0;
  padding: 0;
  font-family: Russia;
  -webkit-text-size-adjust: 100%;
}
@media screen and (max-width: 992px) {
  body {
    min-width: 1440px;

    .firstBg {
      min-width: 1440px;
    }
    .reviews {

      .reviews__item {
        margin: 0 15px;
      }

    }
  }
}
ul, li, a, p, h1, h2, h3, figure {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}
h1, h2, h3 {
  text-align: center;
}
a {
  color: #fff;

  &:hover {
    color: #fff;
  }
}
.sectionTitle {
  font-family: Intro;
  color:  #050101;
  font-size: 48px;
  line-height: 36px;
  text-align: center;
  padding: 70px 0;
  letter-spacing: 5px;
  max-height: 176px;
}
.form__title {
  font-family: Intro;
  color:  #ffffff;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  letter-spacing: 2px;
  padding: 96px 0 62px 0;
}
.container {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}
.formBg {
  background: linear-gradient(to right, #a72c21 0%,#df552f 25%,#df552f 75%,#df552f 75%,#a72c21 100%);
  width: 100%;
  height: 320px;
  z-index: -1;
}

button, input[type="submit"] {

  &:hover{
    cursor: pointer;
  }
}

/*                                        Header Section                                            */
header{
  position: fixed;
  margin: 25px auto 70px;
  width: 100%;
  z-index: 100;
  top: 0;
  min-width: 960px;

  &.fixed {
    position: fixed;
    margin: 0 auto;
    left: 0;
    right: 0;
    background: #000;
    max-width: 100%;
    max-height: 57px;
    line-height: 40px;
    vertical-align: middle;
    z-index: 100;

    .feedback{

      .strong {
        margin: 0;
        vertical-align: middle;
        line-height: 57px;
      }
    }



    button {
      display: none;
    }
  }
}

.navigation {
  display: inline-block;
  max-width: 775px;
  vertical-align: top;


  .navigation__item  {
    display: inline-block;

    a {
      color: #fff;
      text-decoration: none;
      padding: 10px 9px;
      font-weight: 400;
      font-size: 19px;
      font-family: Russia;
      display: block;
    }
  }
}
.feedback {
  display: inline-block;
  margin-left: 50px;
  text-align: right;

  .strong {
    display: block;
    font-family: FuturaPT;
    color:  #fff !important;
    font-size: 26px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
    margin-bottom: 22px;
  }
  button{
    border-radius: 2px;
    border: 0;
    background:  #de1f00;
    width: 140px;
    height: 39px;
    text-transform: uppercase;
    font-size: 16px;
    font-family: Russia;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    color: #fff;
    padding-top: 2px;

    &:hover {
      background: #f35e46;
    }
    &:active {
      transform: scale(.95);
    }
  }
}
/*                                     End of Header Section                                        */
/*                                           Main Section                                           */
main {
  width: 100%;
}
.firstBg{
  background: url('../../img/bg_1.jpg') no-repeat;
  background-size: auto 942px;
  background-position: center;
  width: 100%;
  height: 100%;
  max-height: 942px;
  min-height: 942px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  &+.container {
    margin-top: 192px;
  }
}

/*                                           About Me Section                                        */
.aboutMe {
  max-width: 500px;
  min-height: 750px;
  color: #fff;
  display: inline-block;

  h1{
    font-family: Intro;
    text-align: left;
    line-height: 70px;
    font-size: 72px;
    max-width: 368px;
    display: inline-block;
    margin-bottom: 32px;
  }

  p{
    font-family: Russia;
    line-height: 36px;
    font-size: 30px;
    max-width: 340px;
    margin-bottom: 50px;
  }

}
.bestLogo {

  img{
    margin-bottom: 30px;
  }

  figcaption{
    font-family: Russia;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    max-width: 240px;
  }

}
.socialGroups {
  display: inline-block;
  vertical-align: top;
  margin-left: 70px;

  a {
    display: block;
    max-width: 40px;
    margin-top: 10px;

    &:first-child {
      margin-top: 0;
    }

  }

}
/*                                       End of About Me Section                                     */
/*                                             Radio Section                                         */
.radio {
  margin: 0 auto;
  display: block;
  text-align: center;
  padding: 70px 0 56px;



  .radio__item {
    display: inline-block;

    figcaption {
      max-width: 124px;
      font-family: Russia;
      font-size: 20px;
      line-height: 24px;
      margin: 0 auto;
    }

    &:nth-of-type(1) {
      margin-right: 160px;
    }
    &:nth-of-type(2) {
      margin-right: 180px;
    }
  }
}
.form {
  display: block;
  vertical-align: middle;
  min-height: 320px;


  i {
    position: relative;

    &::before {
      position: absolute;
      left: 10px;
      top: -1px;
      font-size: 20px;

    }
  }
  input {
    border-radius: 4px;
    border: 0;
    background-color:  #ffffff;
    width: 245px;
    height: 46px;
    padding: 0 0 0 40px;
    box-sizing: border-box;
    font-family: Russia;
    font-size: 16px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    margin-right: 5px;

    &:focus {
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }


    &::-webkit-input-placeholder {
      color: #000;
      font-family: Russia;
      line-height: 24px;
      font-size: 16px;
    }
  }
  button {
    border-radius: 4px;
    border: 0;
    background-color:  #030303;
    width: 198px;
    height: 46px;
    font-family: Russia;
    color: #fff;
    font-size: 18px;
    line-height: 36px;
    box-sizing: border-box;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    padding-left: 0;
    vertical-align: bottom;

    &:hover {
      background: #333333;
    }
    &:active {
      transform: scale(.95);
    }

  }
  .btnOrange {
    background: #de1f00;

    &:hover {
      background: #f35e46;
    }
  }

}

/*                                       End of Radio Section                                        */
/*                                            Info Section                                           */
.infoBg {
  width: 100%;
  height: 872px;
  background: url('../../img/info_bg.jpg');
  z-index: -1;
}
.info {
  min-height: 872px;


  p {
    font-family: Russia;
    color:  #050101;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin-bottom: 30px;
    max-height: 610px;

    &:nth-of-type(1){
      max-width: 610px;
    }

    &:nth-of-type(2){
      max-width: 510px;
    }

    &:nth-of-type(3){
      max-width: 465px;
    }
    &:nth-of-type(4){
      max-width: 455px;
    }
  }
}
/*                                       End of Info Section                                        */
/*                                       Privilege Section                                        */
.privilege {
  min-height: 510px;

  figure {
    display: inline-block;
    margin-right: 35px;
    position: relative;
    font-family: Russia;
    text-align: center;

    &:last-child {
      margin-right: 0;
    }
    img {
      margin: 0 auto;
      display: block;
      position: absolute;
      left: 0;
      right: 0;
    }

    figcaption {
      text-align: center;
      margin-top: 120px;
      max-width: 240px;

    }

  }
}
.privilege__item {

  &:nth-of-type(1){

    p {
      max-width: 176px;
    }
  }
  &:nth-of-type(2){

    p {
      max-width: 208px;
    }
  }
  &:nth-of-type(3){

    p {
      max-width: 201px;
    }
  }

  figcaption {

    h2 {
      font-size: 24px;
      font-family: Intro;
      margin-bottom: 28px;
    }
    p {
      font-size: 16px;

    }
  }
}
/*                                       End of Privilege Section                                        */
/*                                        Form Question Section                                        */


.formQuestion {

}
/*                                       End of Form Question Section                                        */
/*                                             Video Section                                                 */
.video {
  min-height: 720px;
  article {
    iframe {
      width: 100%;
      height: 540px;
    }
  }
}
/*                                         End of Video Section                                           */
/*                                              Photos Section                                           */
.slider {
  width: 100%;
  margin: 0 auto;
  max-height: 580px;

  .slick-track {
    padding-bottom: 25px;
  }

  .slick-slide {
    margin: 0;

     img {
      height: 100%;
    }
  }

  .slick-prev:before,
  .slick-next:before {
    height: 60px;
    width: 60px;
    content: '';
    display: block;
  }
  .slick-prev:before{
    background: url('../../img/left.png');
  }
  .slick-next:before {
    background: url('../../img/right.png');
  }
  .slick-prev,
  .slick-next{
    height: 100%;
    width: 60px;
    z-index: 1;
  }
  .slick-prev {
    left: 0;
  }
  .slick-next {
    right: 0;
  }
}
/*                                         End of Photos Section                                           */
/*                                             Price Section                                           */
.price {
  min-height: 500px;

  .sectionTitle {
    color: #000;
  }
  p {
    font-family: Russia;
    color:  #050101;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    display: block;
    max-height: 120px;
    height: 100%;
  }
  form {
    margin-top: 70px;
  }
  input {
    border: 1px solid #000;
  }

}

/*                                         End of Price Section                                           */
/*                                           Reviews Section                                           */
.reviews {
  background: url('../../img/reviews_bg.jpg') no-repeat 100%;
  width: 100%;
  height: 1098px;

  .slick-list{
    padding-top: 20px;
  }

  .slick-dots {
    bottom: -75px;
  }

  .slick-dots li button:before {
    content: '';
    border-radius: 10px;
    background: #000;
    height: 18px;
    width: 18px;

  }
  .sectionTitle {
    line-height: 60px;
  }
  .reviews__item {
    width: 456px;
    height: 565px;
    margin: 0 15px;
    padding: 95px 23px 0;
    box-sizing: border-box;
    background: #fff;
    position: relative;




    &::before {
      content: '';
      display: block;
      height: 78px;
      width: 78px;
      position: absolute;
      top: -20px;
      right: calc(50% - 39px);
      background: url('../../img/review_i.png') no-repeat 100%;
    }



    p {
      font-family: Russia;
      color:  #000;
      font-size: 22px;
      font-weight: 400;
      line-height: 30px;
      text-align: center;
      max-height: 270px;
      display: block;
      height: 100%;

    }

    strong {
      font-size: 15px;
      max-width: 174px;
      text-align: center;
      display: block;
      margin: 0 auto;
      margin-bottom: 15px;
      max-height: 67px;
      height: 100%;
    }

    .reviews__logo {
      max-width: 211px;
      max-height: 89px;
      margin: 0 auto;
      line-height: 89px;
      text-align: center;

      img {
        margin: 0 auto;
        vertical-align: middle;
        display: inline-block;
      }
    }
  }
  .slick-prev:before,
  .slick-next:before {
    display: none;
  }

}
/*                                         End of Reviews Section                                           */
/*                                            Clients Section                                               */
.clients {
  min-height: 320px;

  .slider {
    width: 90%;
  }
  .slider .slick-prev {
    left: -100px;
    top: 35px;
  }
  .slider .slick-next {
    right: -100px;
    top:35px;
  }
  .slick-slide {
    line-height: 65px;
    text-align: center;
    margin: 0 5px;

    img {
      display: inline-block;
      vertical-align: middle;
      max-height: 50px;
    }
  }
}
/*                                         End of Clients Section                                           */
/*                                         Reviews Private Clients Section                                       */
.private {
  background: url('../../img/private_reviews_bg.jpg') no-repeat;
  background-size: auto 1098px ;
  background-position: center;


  .reviews__item{
    p {
      max-height: 360px;
      display: flex;
      align-items: center;
    }
  }
}
/*                                     End of Reviews Private Clients  Section                            */
/*                                              Footer  Section                                */
footer {
  background: url('../../img/footer_bg.jpg') no-repeat 100%;
  width: 100%;
  height: 804px;
  padding-top: 50px;

  .sectionTitle {
    color: #fff;
  }

  .form {
    min-height: 180px;
    text-align: center;

    input {
      width: 312px;
      box-shadow: 0 1px 3px rgba(255,255,255,0.12), 0 1px 2px rgba(255,255,255,0.24);
      transition: all 0.4s cubic-bezier(.25,.8,.25,1);
      margin: 0 5px 0 0;

      &:focus {
        box-shadow: 0 0 6px 6px rgba(255,255,255,.59);
      }
    }
    button {
      width: 275px;
      margin-top: 30px;

    }
  }
  .socialGroups{
    text-align: center;
    display: block;
    margin: 0 0 70px;

    a {
      display: inline-block;
      margin-right: 10px;



      &:last-child{
        margin: 0;
      }
    }
  }

  .download {
    display: block;
    max-width: 230px;
    max-height: 40px;
    color: #fff;
    font-family: FuturaPT;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
    position: relative;

    &::before {
      content: '';
      display: block;
      width: 45px;
      height: 41px;
      background: url('../../img/download.png') no-repeat;
      background-size: 100%;
      position: absolute;
      left: calc(50% - 22px);
      top: -60px;
    }
  }
}
/*                                            End of Footer  Section                                  */

/*                                              End of Main Section                                        */
/*                                                 Modal Overlay                                          */
.modal-overlay {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
  padding-top: 14%;
}

.modal-content {
  background: #fff;
  margin: auto;
  width: 343px;
  height: 407px;
  text-align: center;
  position: relative;
  border-radius: 5px;

  &.success {
    height: 280px;

    p {
      margin: 24px 0 50px;
      padding: 10px 20px;
      font-size: 18px;
    }
  }
  .errorModals {
    display: none;
    padding: 4px;
    color: #de1f00;
    z-index: 1;
    top: 135px;
    border: 2px solid red;
    margin: 0 auto;
    max-width: 289px;
    box-sizing: border-box;
    border-radius: 4px;
    display: none;
  }
  .modal_title {
    font-family: Intro;
    color:  #000000;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    padding-top: 30px;
  }
  p {
    font-family: Russia;
    color:  #000;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin: 15px 0 15px 0;
  }
  .mdi {
    position: relative;
    display: block;
  }
  .mdi-phone {

    &::before {
      position: absolute;
      top: 32px;
      left: 41px;
      font-size: 16px;
    }
  }
  .mdi-account {

    &::before{
      position: absolute;
      top: 32px;
      left: 41px;
    }
  }
  input {
    border-radius: 4px;
    border:2px solid #000;
    background-color:  #fff;
    width: 245px;
    height: 46px;
    padding-left: 40px;
    margin: 15px auto 0;
    font-size: 16px;
    font-family: Russia;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

    &::-webkit-input-placeholder {
      color: #000;
      font-family: Russia;
      line-height: 24px;
      font-size: 16px;
    }

    &[type="submit"] {
      border-radius: 4px;
      background-color:  #de1f00;
      width: 198px;
      height: 46px;
      padding-left: 0;
      margin-top: 30px;
      line-height: 36px;
      font-size: 18px;
      border: 0;
      color: #fff;
      letter-spacing: 1px;

    }
  }
  .btn-close {
    background: none;
    border: none;
    cursor: pointer;
    font-family: arial;
    font-size: 2em;
    font-weight: 800;
    line-height: 1;
    padding: 0;
    position: absolute;
    right: -30px;
    top: -30px;
    z-index: 2;
    color: rgba(255,255,255,.5);
  }

  .btn-close{

    &:hover {
      color: #c12f48;
    }

  }

}






/*

  This is here purely for demo styling

*/

