@import 'colors';

.our__proposition{
  padding-top: 60px;
  overflow: hidden;
}

.proposals {
  position: relative;
  height: 650px;

}

.proposals__item {
  width: 507px;
  position: absolute;
  top:0;
  overflow: hidden;
  height: 800px;
  transform: rotate(9deg);

  &:nth-of-type(2n + 1) {
    left: -56px;

    .proposals__item_wrapper {
      transform: rotate(-9deg) translate(37px,44px);
    }
    .proposals__item__content {
      left: 40px;
    }

    .proposals__content__wrapper{
      &:last-of-type{
        left: 40px;
      }
    }


  }
  &:nth-of-type(2n) {
    right: -30px;


    .proposals__item_wrapper {
      transform: rotate(-9deg) translate(-56px,44px);
    }
    .proposals__item__content {
      right: 0;
      padding: 0 20px;
    }

    .proposals__content__wrapper{
      &:last-of-type{
        right: 0;
        margin: 0 20px;
      }
    }


  }
}

.proposals__item_wrapper {
  max-width: 507px;
  width: 100%;
  position: relative;
  .proposals__content__wrapper{
    &:last-of-type{
      bottom: 83px;
    }
  }
}

.proposals__content__wrapper {
  position: absolute;
  max-width: 346px;
  width: 100%;

}

.proposals__item__content {
  top: 80px;
  color: #fff;



  p {
    padding-bottom: 50px;
  }
}

.proposal__title {
  font-size: 33px;
  line-height: 37px;
  padding-bottom: 30px;
}




