html,body {
  margin: 0;
  padding: 0;
}
.slider {
  width: 100%;
  position: relative;
}

.slider-wrapper {
  width: 100%;
  height: 46.94vw;
  position: relative;
}

.slide {
  position: absolute;
  width: 100%;
  height: 46.94vw;
  opacity: 0;
  transition: opacity 1s linear;
  img {
    object-fit: cover;
  }

}

.active__slide {
  opacity: 1;
}

.dots {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 54px;
}

.dot:not(:last-of-type)::after,
.dot:not(:last-of-type)::before {
  content: '';
  position: absolute;
  width: calc(50% - 23px);
  height: 3px;
  top: 6px;
  left: 16px;
  background: #000;
}

.dot:not(:last-of-type)::before {
  content: '';
  position: absolute;
  width: 0;
  left: 16px;
  height: 3px;
  top: 6px;
  background: $sliderTimer;
  z-index: 2;
}

.dot {
  height: 14px;
  width: 14px;
  margin: 0 2px;
  cursor: pointer;
  background-color: #000;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  z-index: 3;
  &.active {
    background-color: $sliderTimer;
    &:not(:last-of-type)::before {
      -webkit-animation: progress 5s linear;
    }
  }
  &.complete {
    background: $sliderTimer;
    &:not(:last-of-type)::before {
      width: calc(50% - 23px);
    }
  }
  &:nth-of-type(2) {
    &::before, &::after {
      left: calc(50% + 7px);
    }
  }
}

@-webkit-keyframes progress {
  0% {
    width: 0%;
  }
  100% {
    width: calc(50% - 24px);
  }
}

.slide__caption {
  position: absolute;
  max-width: 866px;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}