@import 'reset';
@import 'colors';
@import 'typografy';
@import 'settings';
@import 'calculate';


body {
  width: 100%;
  font-size: 21.6px;
  line-height: 30px;
  font-weight: 400;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}