@import 'reset';
@import 'constants';
@import 'slick';
@import 'slick-theme';
@import 'mdi/materialdesignicons';

body {
  font-family: $font-stack;
  font-size: $font-size;
  color: #000;
  font-weight: 400;
}

a {
  color: #000;
  text-decoration: none;
}

.container {
  max-width: 1020px;
  width: 100%;
  margin: 0 auto;
}

.button-primary {
  color:  #000000;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  padding: 17px 25px;
  display: block;
  margin: 0 auto;
  background: linear-gradient(0deg, #ffaf02 0%, #ffc600 100%);
  border: none;
  border-radius: 40px;
  transition: all .2s linear;

  &:hover {
    transform: scale(1.031);
    cursor: pointer;
  }

  &:active {
    background: linear-gradient(0deg,rgba(255, 175, 2, 0.68) 0,#ffc600 100%);
  }



}

.title {
  text-align: center;
  font-family: Arkiv;
  font-size: 50px;
  font-weight: 700;
  line-height: 52px;
  position: relative;
  margin: 90px 0 60px;

}

/*
    Navigation bar
*/


.navigation {

  position: absolute;
  width: 100%;
  top: 0;
  height: 100%;
  max-height: 90px;
  z-index: 10;

  &.opennav {

    .navbar {
      visibility: visible;
      opacity: 1;

    }

    .info-mobile {
      visibility: visible;

    }

  }

  .mdi-menu {
    background: none;
    outline: none;
    border: none;
    font-size: 40px;
    position: absolute;
    right: 8px;
    top: 8px;
    display: none;
    cursor: pointer;
  }

  .nav-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    max-width: 1448px;
    margin: 0 auto;
    margin-top: 48px;
  }

  img {
    display: inline-block;
    height: 100%;
  }


  li {
    display: inline-block;
    height: 39px;

    a {
      font-size: 25px;
      font-weight: 400;
      line-height: 32px;
      text-align: center;
      text-decoration: none;
      position: relative;


    }

  }

  .nav {

    a {

      &::before {
        visibility: hidden;
        display: block;
        content: '';
        width: 100%;
        height: 3px;
        background: #ffbb00;
        position: absolute;
        left: 0;
        bottom: -10px;
        transition: .2s linear;


      }
      &:hover::before, &:active::before {
        bottom: -6px;
        visibility: visible;
      }
    }

  }

  .info {
    display: inline-block;
    text-align: right;

    a {
      display: block;
      font-family: Arkiv;
      font-size: 30px;
      font-weight: 700;
      line-height: 27px;
      margin-bottom: 10px;
    }

    button {
      font-size: 23px;
      font-weight: 400;
      line-height: 27px;
      text-align: right;
      background: none;
      border: none;
      cursor: pointer;
      display: inline-block;
      position: relative;
      padding: 0;
      transition: .2s linear;

    }

  }

}

.modal-btn {

  &::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background: #000;
    display: block;
    bottom: 2px;


  }

  &:hover {
    opacity: .8;
  }

}


.navbar {
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: space-between;
  max-width: calc(100% - 200px - 253px - 160px);
  width: 100%;
  margin-top: 5px;
  transition: .8s linear;


  .info {
    display: none;
  }

  .info-mobile {

    .tel {
      color: #fff;
      font-size: 30px;
    }

    .modal-btn {
      color: #fff;
      font-size: 31px;
      font-family: Russia;
      text-align: center;

      &::before {
        background: #fff;
        bottom: -3px;
      }
    }

  }
}

/*
    Header Section
*/

.header__section {

  background: url('../../images/bg-1.jpg');
  height: 100%;
  min-height: 1448px;
  display: flex;
  justify-content: center;
  align-content: space-between;
  flex-flow: row wrap;
  position: relative;


  &::before {
    content: '';
    width: 755px;
    height: 368px;
    display: block;
    background: url('../../images/bg-1-headed.png');
    position: absolute;
    top:0;
    left: calc(50% - 380px);
    opacity: .8;
    z-index: 0;
  }

  &::after {
    content: '';
    width: 100%;
    max-height: 52px;
    height: 100%;
    display: block;
    position: absolute;
    background: url('../../images/bg-1-footer.png')  bottom no-repeat;
    background-size: contain ;
    bottom: 0;
  }

  .title.white {
    color:  #ffffff;
    margin: 150px 200px 0;
    z-index: 1;
    max-width: 700px;
    display: inline-block;



  }



}
.form__section {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  border: 5px solid #fff;
  padding: 21px 24px;
  background-color:  #6299d3;
  position: relative;
  width: 100%;
  margin-bottom: 85px;

  &::before {
    content: '';
    width: 215px;
    height: 398px;
    display: block;
    position: absolute;
    left: calc(50% - 112px);
    top: -54px;
    background: url('../../images/form_i.png');
  }

  &.mobile {
    display: none;
  }



}

.form__content {
  max-width: 314px;
  width: 100%;


  h3 {
    font-family: Arkiv;
    color:  #ffffff;
    font-size: 50px;
    font-weight: 700;
    line-height: 57px;
    text-align: center;
    margin-bottom: 25px;
  }

  p {
    font-family: Russia;
    font-size: 20px;
    line-height: 22px;
    text-align: center;

    span {
      font-family: 'PT Sans', serif;
    }

  }

}

.form__submit {
  max-width: 360px;
  width: 100%;
  font-family: Russia;
  padding-top: 9px;

  input {

    color:  #919191;
    font-size: 21px;
    font-weight: 400;
    line-height: 21px;
    padding: 12px 0 12px 26px;
    min-width: 357px;
    border-radius: 40px;
    margin-bottom: 14px;
    border: none;
    transition: .2s linear;

    &:focus {
      box-shadow: 0px 0px 1px 4px rgba(248, 248, 248, .7);
    }

  }



}

/*
    Location section
*/

.location__section {

  .title {
    text-align: center;



  }
}

.mdi {

  &.mdi-map-marker {

    &:before {
      font-size: 58px;
    }

  }

}

.clients__section {

  margin-bottom: 60px;

  h3 {
    font-family: Russia;
    color:  #ffffff;
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    margin: 0 0 15px 30px;
  }

  .clients {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;

    img {
      height: 100%;
    }

  }

}




.ls__content {

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 100px;


  .slider {
    max-width: 563px;
  }

  .slider__caption {
    max-width: 391px;
    align-self: center;

    p {
      margin-bottom: 20px;
    }

  }

}




.about__section {
  background: url('../../images/bg-2.jpg') center;
  width: 100%;
  height: 961px;
  
  .container {

    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    align-content: space-between;
    padding-bottom: 50px;
    height: 100%;


    .title {
      text-align: left;
      padding-top: 100px;
      margin: 0;
      width: 100%;
    }

    .section__content {
      max-width: 521px;
      font-family: Russia;
      color:  #ffffff;
      font-size: 19px;
      font-weight: 400;
      line-height: 26px;
      text-align: left;
    }
    
  }
  
}

.title {

  .icon {
    background: url("../../images/s.png");
    background-size: 60px auto;
    height: 34px;
    width: 60px;
    display: inline-block;
  }
}


/*
  Features Section
*/

.features__section {
  padding-bottom: 55px;

  .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;

  }

  .title {

    margin: 115px 0 35px;

    .icon {
      background: url("../../images/featured.png");
      height: 43px;
      width: 32px;
      background-size: 32px auto;
    }

  }

  .fs__scheme {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;

    img {
      height: 279px;
      align-self: center;
    }

  }

  .section__content {
    font-size: 19px;
    line-height: 26px;
    text-align: right;
    max-width: 682px;
    margin-bottom: 90px;
  }

}

.features__items {
  
  .features_i {
    text-align: right;
    min-width: 360px;
    padding-bottom: 10px;
    margin-bottom: 60px;
    border-bottom: 4px solid #fec428;
    position: relative;

    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 50px;
      height: 4px;
      background: #fec428;

    }

  } 

}

.features_i {

  &:nth-child(1) {

    &::before {
      left: -45px;
      bottom: -16px;
      transform: rotate(-30deg);
    }

  }

  &:nth-child(2) {

    &::before {
      left: -48px;
      bottom: -10px;
      transform: rotate(-15deg);
    }

  }

  &:nth-child(3) {

    &::before {
      left: -50px;
      bottom: -4px;
    }

  }

  &:nth-child(4) {

    &::before {
      left: -48px;
      bottom: 2px;
      transform: rotate(15deg);
    }

  }

  &:nth-child(5) {

    &::before {
      left: -45px;
      bottom: 8px;
      transform: rotate(30deg);
    }

  }

}


/*
  Privileges Section
*/

.privileges__section {
  background: #f8f8f8;
  padding-bottom: 126px;

  .title {
    margin: 0;
    padding: 120px 0 28px;
    text-align: left;

    .icon {
      background: url("../../images/privi.png");
      height: 41px;
      width: 31px;
      background-size: 31px auto;
    }

  }

  .section__content {
    max-width: 710px;
    margin-bottom: 90px;
  }

}


.ps__items {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 70px;

  figure {
    margin-bottom: 35px;

    img {
      height: 238px;
      width: 238px;
      box-sizing: border-box;
      border: 8px solid white;
      border-radius: 50%;
      margin-bottom: 30px;
    }

    figcaption {
      text-align: center;
    }
  }
}




/*
    Gallery section
*/

.gallery__section {
  margin-bottom: 110px;

  .title {

    .icon {
      background: url("../../images/gall.png");
      height: 29px;
      width: 38px;
      background-size: 38px auto;
    }
  }
}

.gallery-nav {
  max-height: 55px;
  .slick-track {

    max-height: 55px;
  }
}


/*
    Google Maps Section
*/

.contacts {
  position: absolute;
  z-index: 1;
  text-align: center;
  background: #fff;
  padding: 60px 70px;
  left: 50%;
  top: calc(50% - 260px);

  .title {

    margin: 0 0 40px;

    .icon {
      background: url("../../images/contact.png");
      height: 40px;
      width: 40px;
      background-size: 40px auto;
    }

  }

  .address {
    line-height: 30px;
    text-align: center;
    max-width: 360px;
  }

  .tel {
    font-weight: 700;
    text-align: center;
    margin: 56px 0 66px;
    display: inline-block;
    position: relative;

    &::before {
      content: '';
      width: 96px;
      height: 2px;
      background: #000;
      position: absolute;
      top: -33px;
      left: calc(50% - 48px);
    }

    &::after {
      @extend ::before;
      top: inherit;
      bottom: -33px;
    }

  }

  .email {
    margin-bottom: 35px;
  }

}


.gmaps {
  margin: 0;
  padding: 0;
  position: relative;
}
.maps-block {
  position: relative;
}

#map {
  height: 872px;
}


.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#pac-input:focus {
  border-color: #4d90fe;
}



/*
      Recommend Section
*/

.recommend__section {
  background: #6299d3;
  text-align: center;
  padding-bottom: 125px;

  .title {
    width: 100%;
    margin: 0;
    padding: 80px 0 20px;
    color: #fff;
  }

  .section__content {
    margin-bottom: 55px;
    color: #fff;
  }

  .recommend__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    img {
      margin-bottom: 68px;
      display: block;
      border: 8px solid white;

      &:hover, &:active {
        border-color: $color-orange;
      }
    }
  }
}

/*
    Footer Section
*/

footer {
  text-align: center;
  padding: 70px 0;
  background-color:  #2d2d2d;

  p {
    color: #fff;
  }

}

/*
      Modal Window
*/

.modal-overlay {
  visibility: hidden;
  position: fixed;
  z-index: 12;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.94);
  padding-top: 14%;
  transition: .2s linear;

  &.show-modal {

    visibility: visible;

    .modal-content {
      visibility: visible;

      top: 50%;

    }

  }

}

.modal-content {
  visibility: hidden;
  background: #fff;
  margin: auto;
  max-width: 436px;
  width: 100%;
  height: 481px;
  text-align: center;
  position: fixed;
  transform: translate(-50%, -50%);
  top: -600px;
  left: 50%;
  border-radius: 5px;
  background: #6299d3;
  border: 3px solid white;
  transition:  .3s linear;



  .title {
    color: #fff;
    margin: 36px 0 24px;
  }


  .form__submit {
    margin: 0 auto;

    .button-primary {
      max-width: 262px;
    }
  }

  &.success {
    height: 330px;

    p {
      margin: 24px auto 50px;
      padding: 10px 20px;
      font-size: 19px;
    }
  }
  .errorModals {
    display: none;
    padding: 4px;
    color: #de1f00;
    z-index: 1;
    top: 135px;
    border: 2px solid red;
    margin: 0 auto;
    max-width: 289px;
    box-sizing: border-box;
    border-radius: 4px;
    display: none;
  }
  .modal_title {
    font-family: Intro;
    color:  #000000;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    padding-top: 30px;
  }
  p {
    max-width: 345px;
    padding: 0 20px;
    font-family: Russia;
    display: block;
    color:  #000;
    font-size: 19px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin: 0 auto;
  }




  .btn-close {
    border: none;
    cursor: pointer;
    font-weight: 800;
    line-height: 1;
    padding: 0;
    position: absolute;
    right: -36px;
    top: -36px;
    z-index: 2;
    width: 27px;
    height: 27px;
    background: url("../../images/close.png");

    &:active {
      transform: scale(.9);
    }

  }




}



@media screen and (min-width: 1025px) {

  .navigation   {

    .close-menu {
      display: none;
    }
  }

}


@media screen and (min-width: 1448px) {
  .gallery-for {

    .slick-list.draggable {
      padding: 0 500px !important;
    }


    .slick-slide {
      padding:0 5px;
    }

  }
}



@media screen and (min-width: 1200px)and (max-width: 1448px) {
  /*
      Navigation
  */

  .navigation {

    .nav-container {
      margin: 48px 20px 0;
    }

    ul {

      max-width: calc(100% - 200px - 253px - 120px);

    }

    .info {

      a {
        font-size: 28px;
      }

      button {
        font-size: 20px;
      }

    }

    li {

      a {
        font-size: 22px;
      }

    }

  }

  /*
      Header Section
  */

  .header__section {

    .title {
      font-size: 46px;

    }

  }

  /*
      Gallery
  */

  .gallery-for {

    .slick-list.draggable {
      padding: 0 400px !important;
    }


    .slick-slide {
      padding:0 5px;
    }

  }
}

@media screen and (min-width: 1025px)and (max-width: 1199px) {
  .container {
    padding: 0 40px;
    align-self: center;
  }

  /*
      Navigation Section
  */

  .navigation {

    img {
      width: 160px;
    }

    .nav-container {
      margin: 48px 20px 0;
    }

    ul {

      max-width: calc(100% - 200px - 253px - 40px);

    }

    .info {

      a {
        font-size: 24px;
      }

      button {
        font-size: 19px;
      }

    }

    li {

      a {
        font-size: 20px;
      }

    }

  }

  /*
      Header Section
  */

  .header__section {

    .title {

      &.white {
        font-size: 46px;
        margin: 150px 0 0;
      }

    }

  }

  /*
      Location section
  */

  .ls__content {

    .slider {
      max-width: 500px;
    }

  }

  /*
    Features section
  */

  .features__section {
    text-align: center;

    .fs__scheme {

      img {
        height: 100%;
        width: 470px;
      }

    }

    .section__content {
      text-align: center;
      display: inline-block;
    }

  }

  .features__items {

    .features_i {
      margin-bottom: 30px;
    }

  }

  /*
      Privileges section
  */

  .ps__items {

    figure {
      width: 50%;
      text-align: center;

      img {
        display: inline-block;
      }

    }

  }

  /*
      Gallery
  */

  .gallery-for {

    .slick-list.draggable {
      padding: 0 300px !important;
    }


    .slick-slide {
      padding:0 5px;
    }

  }

  /*
    Recommend section
*/


  .recommend__section {

    .recommend__list {
      justify-content: space-around;
    }

  }

}



@media screen and (min-width: 769px) and (max-width: 1024px) {
  .container {
    padding: 0 40px;
    align-self: center;
  }

  /*
      Navigation Section
  */

  .navigation {

    .mdi-menu {
      display: block;
    }

    img {
      width: 172px;
      display: block;
      margin: 0 auto;
    }

    .nav-container {
      margin: 48px 20px 0;
      display: block;
      height: 50px;
    }

    ul {
      visibility: hidden;
      opacity: 0;
      max-width: 376px;
      width: 100%;
      height: 666px;
      position: fixed;
      background: #0098d9;
      z-index: 100;
      transition: opacity .5s linear;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

    }

    .info {
      visibility: hidden;
      display: block;
      margin: 70px auto 176px;
      max-width: 290px;


    }

  }

  .navbar {
    display: block;

    .nav {
      display: block;
      text-align: center;
      margin-bottom: 25px;

      a {
        font-size: 31px;
      }
    }

    .close-menu {
      position: absolute;
      width: 27px;
      height: 27px;
      background: url('../../images/close.png');
      top: 16px;
      right: 16px;

      &:active {
        transform: scale(.9);
      }

    }


  }

  /*
      Header Section
  */

  .header__section {

    background: url('../../images/bg-1-mb.jpg') top no-repeat;
    -webkit-background-size:100%;
    background-size: 100%;
    min-height: 1000px;
    display: block;

    &::before {
      display: none;

    }

    &::after {
      display: none;
    }

    .title {

      &.white {
        font-size: 36px;
        line-height: 40px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto 40px;
      }

    }

    .form__section {
      display: none;
    }

  }

  .form__bg {
    background: #6299d3;
    width: 100%;
    padding: 60px 0;
  }

  .form__section {

    &.mobile {
      max-width: 700px;
      margin: auto;
      background: transparent;
      display: block;

      &::before {
        left: inherit;
        top: calc(50% - 199px);
        right: 40px;
      }
    }


  }

  .form__content {
    max-width: 360px;
  }

  .clients__section {
    display: none;
  }

  .hs__content {
    position: absolute;
    bottom: 0;
  }


  /*
      Location section
  */

  .ls__content {
    display: block;

    .slider {
      max-width: 56%;
      display: inline-block;
      vertical-align: middle;
      margin-right: 3%;
    }

    .slider__caption {
      max-width: 40%;
      font-size: 15px;
      display: inline-block;
      vertical-align: middle;
    }

  }

  /*
    Features section
  */

  .features__section {
    text-align: center;

    .fs__scheme {
      justify-content: center;

      img {
        height: 100%;
        width: 50%;
        margin: 0 5%;
        margin-bottom: 60px;
      }

    }

    .section__content {
      text-align: center;
      display: inline-block;
    }

  }

  .features__items {

    .features_i {
      margin-bottom: 30px;

      &::before {
        display: none;
      }

      &::after {
        display: none;
      }
    }

  }

  /*
      Privileges section
  */

  .ps__items {
    display: block;
    text-align: center;
    max-width: 780px;
    margin: 0 auto;

    figure {
      display: inline-block;
      text-align: center;
      width: 250px;
      margin: 0 40px;


      img {
        display: inline-block;
      }

    }

  }

  /*
      Gallery
  */

  .gallery-for {

    .slick-list.draggable {
      padding: 0 200px !important;
    }


    .slick-slide {
      padding:0 5px;
    }

  }

  /*
    Recommend section
*/


  .recommend__section {

    .recommend__list {
      display: block;
      text-align: center;

      a {
        display: inline-block;
        margin: 0 10px;
      }

      img {
        max-width: 300px;
      }

    }

  }

  /*
      Contacts
  */

  .contacts {
    position: static;

    .tel {
      margin: 56px 0 66px;
      position: relative;
      display: block;
    }

    .address {
      display: inline-block;
    }

  }
}

@media screen and (max-width: 992px)  {
  .header__section {
    min-height: 1040px;

  }
}

@media screen and (max-width: 900px)  {

  .header__section {
    min-height: 940px;

  }
}


@media screen and (min-width: 481px) and (max-width: 768px) {
  .container {
    padding: 0 20px;
    align-self: center;
  }

  /*
      Navigation Section
  */

  .navigation {

    .mdi-menu {
      display: block;
    }

    img {
      width: 172px;
    }

    .nav-container {
      margin: 48px 20px 0;
      justify-content: center;
    }

    ul {
      visibility: hidden;
      opacity: 0;
      max-width: 376px;
      width: 100%;
      height: 666px;
      position: fixed;
      background: #0098d9;
      z-index: 100;
      transition: opacity .5s linear;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

    }

    .info {
      visibility: hidden;
      display: block;
      margin: 70px auto 176px;
      max-width: 290px;


    }



  }

  .navbar {
    display: block;

    .nav {
      display: block;
      text-align: center;
      margin-bottom: 25px;

      a {
        font-size: 31px;
      }
    }

    .close-menu {
      position: absolute;
      width: 27px;
      height: 27px;
      background: url('../../images/close.png');
      top: 16px;
      right: 16px;
      cursor: pointer;

      &:active {
        transform: scale(.9);
      }

    }


  }

  /*
      Header Section
  */

  .header__section {

    background: url('../../images/bg-1-mb.jpg') top no-repeat;
    background-size: 100%;
    min-height: 860px;
    display: block;

    &::before {
      display: none;

    }

    &::after {
      display: none;
    }

    .title {

      &.white {
        font-size: 32px;
        line-height: 40px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto 40px;
      }

    }

    .form__section {
      display: none;
    }

  }

  .form__bg {
    background: #6299d3;
    width: 100%;
    padding: 60px 20px;
  }

  .form__section {

    &.mobile {
      max-width: 416px;
      margin: auto;
      background: transparent;
      display: block;

      &::before {
        display: none;
      }
    }


  }

  .form__content {
    max-width: 360px;
  }

  .form__content {
    max-width: 360px;
  }

  .clients__section {
    display: none;
  }

  .hs__content {
    position: absolute;
    bottom: 0;
  }


  /*
      Location section
  */

  .ls__content {
    display: block;

    .slider {
      max-width: 100%;
    }

    .slider__caption {
      max-width: 500px;
      width: 100%;
      font-size: 19px;
      display: block;
      margin: 40px auto 0;
    }

  }



  /*
    Features section
  */

  .features__section {
    text-align: center;

    .fs__scheme {
      justify-content: center;

      img {
        height: 100%;
        width: 75%;
        margin: 0 5%;
        margin-bottom: 60px;
      }

    }

    .section__content {
      text-align: center;
      display: inline-block;
    }

  }

  .features__items {

    .features_i {
      margin-bottom: 30px;

      &::before {
        display: none;
      }

      &::after {
        display: none;
      }
    }

  }

  /*
      Privileges section
  */

  .ps__items {

    display: block;
    text-align: center;

    figure {
      display: inline-block;
      text-align: center;
      width: 250px;
      margin: 0 40px;


      img {
        display: inline-block;
      }

    }

  }

  /*
      Gallery
  */

  .gallery-for {

    .slick-list.draggable {
      padding: 0 170px !important;
    }


    .slick-slide {
      padding:0 5px;
    }

  }

  /*
    Recommend section
*/


  .recommend__section {

    .recommend__list {
      display: block;
      text-align: center;

      a {
        display: inline-block;
        margin: 0 15px;
      }

      img {
        max-width: 240px;
      }
    }

  }

  /*
      Contacts
  */

  .contacts {
    position: static;
    padding: 0 0 120px;

    .tel {
      margin: 56px 0 66px;
      position: relative;
      display: block;
    }

    .address {
      display: inline-block;
    }

  }
}

@media screen and (max-width: 642px)  {
  .header__section {
    min-height: 710px;

  }

  .gallery-for {
    .slick-list{
      &.draggable {
        padding: 0 150px!important;
      }
    }
  }
}

@media screen and (max-width: 530px)  {
  .header__section {
    min-height: 605px;

    .title {

      &.white {
        font-size: 30px;
      }

    }

  }

  .gallery-for {
    .slick-list{
      &.draggable {
        padding: 0 110px!important;
      }
    }
  }
}


@media screen and (min-width: 320px) and (max-width: 480px) {

  .title {
    font-size: 30px;
    line-height: 36px;
  }

  .container {
    padding: 0 10px;
    align-self: center;
  }

  /*
      Navigation Section
  */

  .navigation {

    .mdi-menu {
      display: block;
    }

    img {
      width: 172px;
    }

    .nav-container {
      margin: 48px 20px 0;
      justify-content: center;
    }

    ul {
      visibility: hidden;
      opacity: 0;
      max-width: 376px;
      width: 100%;
      height: 666px;
      position: fixed;
      background: #0098d9;
      z-index: 100;
      transition: opacity .5s linear;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

    }

    .info {
      visibility: hidden;
      display: block;
      margin: 70px auto 176px;
      max-width: 290px;


    }



  }

  .navbar {
    display: block;

    .nav {
      display: block;
      text-align: center;
      margin-bottom: 25px;

      a {
        font-size: 31px;
      }
    }

    .close-menu {
      position: absolute;
      width: 27px;
      height: 27px;
      background: url('../../images/close.png');
      top: 16px;
      right: 16px;
      cursor: pointer;
      transition: .2s linear;

      &:active {
        transform: scale(.9);
      }

      &:hover {
        opacity: .8;
      }

    }


  }

  /*
      Header Section
  */

  .header__section {

    background: url('../../images/bg-1-2-mb.jpg') top no-repeat;
    -webkit-background-size:100%;
    background-size: 100%;
    min-height: 821px;
    display: block;

    &::before {
      display: none;

    }

    &::after {
      display: none;
    }

    .title {

      &.white {
        font-size: 28px;
        line-height: 33px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto 40px;
        max-width: 250px;
      }

    }

    .form__section {
      display: none;
    }

  }

  .form__bg {
    background: #6299d3;
    width: 100%;
    padding: 60px 20px;
  }

  .form__section {

    &.mobile {
      max-width: 416px;
      margin: auto;
      background: transparent;
      display: block;

      &::before {
        display: none;
      }
    }


  }

  .form__content {
    max-width: 360px;

    h3 {
      font-size: 32px;
      line-height: 36px;
    }
  }

  .form__content {
    max-width: 360px;

    p {
      font-size: 18px;
    }

  }

  .form__submit {

    input {
      width: 100%;
      min-width: inherit;
    }

    .button-primary {
      font-size: 15px;
      padding: 14px 20px;
    }

  }

  .clients__section {
    display: none;
  }

  .hs__content {
    position: absolute;
    bottom: 0;
  }


  /*
      Location section
  */

  .ls__content {

    .slider {
      max-width: 100%;
    }

    .slider__caption {
      max-width: 100%;
      font-size: 19px;
      margin-top: 20px;
    }

  }

  /*
    Features section
  */

  .features__section {
    text-align: center;

    .fs__scheme {
      justify-content: center;

      img {
        height: 100%;
        width: 100%;
        margin: 0 5%;
        margin-bottom: 60px;
      }

    }

    .section__content {
      text-align: center;
      display: inline-block;
    }

  }

  .features__items {

    .features_i {
      margin-bottom: 30px;
      min-width: inherit;

      &::before {
        display: none;
      }

      &::after {
        display: none;
      }
    }

  }

  /*
      Privileges section
  */

  .privileges__section {

    .title {
      font-size: 28px;

      &.icon {
        height: 29px;
        width: 22px;
        background-size: 22px auto;
      }
    }

  }

  .ps__items {

    display: block;
    text-align: center;

    figure {
      display: inline-block;
      text-align: center;
      width: 250px;

      img {
        display: inline-block;
      }

    }

  }

  /*
      Gallery
  */

  .gallery-for {

    .slick-list.draggable {
      padding: 0 75px !important;
    }


    .slick-slide {
      padding:0 5px;
    }

  }

  /*
    Recommend section
*/


  .recommend__section {

    .recommend__list {
      display: block;
      text-align: center;

      a {
        display: inline-block;
      }

      img {
        max-width: 280px;
      }
    }

  }

  /*
      Contacts
  */

  .contacts {
    position: static;
    padding: 0 0 120px;

    .tel {
      margin: 56px 0 66px;
      position: relative;
      display: block;
    }

    .address {
      display: inline-block;
    }

  }
}

@media screen and (max-width: 428px) {

  .header__section {
    min-height: 740px;
  }

}




@media screen and (max-width: 336px) {

  .header__section {
    min-height: 644px;
  }

}